.filter-product-table {
margin: 15%;
border:1px black solid;
height:70vh;
width:35vw;
}

.search-bar {
  margin: 2%;
  border:1px blue solid;
  height:15vh;
  width:33vw;
}
.product-table {
  margin: 2%;
  border:1px green solid;
  height:50vh;
  width:33vw;
  position:relative;
  top:16vh;
  right:1vw;
}
.product-category-row {
  margin: 2%;
  border:1px rgb(97, 191, 223) solid;
  
}
.product-row {
  margin: 2%;
border:1px red solid;
}